nav {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: #00a087;
  height: 105px;
  padding: 1em 2em 1em 2em;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
}


#nav-bar .header {
  font-size: 27px;
  line-height: 80px;
  color: white;
  padding-left: 10px;
}

#nav-bar .logo {
  width: 80px;
  height: 80px;
  float: left;
}

.nav-btn {
  float: right;
  border: 2px solid white;
  background-color: transparent;
  font-weight: 700;
  letter-spacing: 1px;
  color: white;
  margin-top: 15px;
  padding: 10px 18px;
}

.nav-btn:hover {
  float: right;
  background-color: white;
  letter-spacing: 1px;
  color: #02a087;
}
